/*Definimos una paleta de colores*/
/*los que inician con : se conocen con pseudoelementos tambien conocidos como custom properties lo utilizaremos para almacenar variables en css*/
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

/*Convertimos los REM a PX*/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1 rem = 10px */
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
